{% extends 'base.html.twig' %}

{% block title %}Borrado del actor {{actor.nombre}}{% endblock %}
{% block main %}
	{{ parent() }}
	<p>Borrado del actor <b>{{actor.nombre}}</b>.</p>
	
	<p>Por favor confirma la operacion de borrado mediante el formulario.</p>
	 
	 {{ form(formulario) }}
	 
{%  endblock %}

	