{% extends 'base.html.twig' %}

{% block title %}Catalogo de actores{% endblock %}

{% block main %}
	{{ parent() }}
	<p>Listado de actores en <b>SymfoFilms</b>.</p>
	
	<p>A lo largo de las proximas semanas iremos editando este ejemplo para dotarlo de nuevas caracteristicas
	 y funcionalidades.</p>

	<h3>Actores</h3>

	{# incluye la subvista con la lista de actores #}
	{% include '/includes/lista_actores.html.twig' %}
	

{# incluye la subvista con los enlaces de paginacion #}
{% 
    include '/includes/paginator.html.twig' with
        {
          'route': 'actor_list',
          'entidades': 'actors'
        }
%}


{%  endblock %}


