{% extends 'base.html.twig' %}

{% block title %}Borrado de la pelicula {{pelicula.titulo}}{% endblock %}
{% block main %}
	{{ parent() }}
	<p>Borrado de la pelicula <b>{{pelicula.titulo}}</b>.</p>
	
	<p>Por favor confirma la operacion de borrado mediante el formulario.</p>
	 
	<h1>Confirmar borrado</h1>
	 
{%  endblock %}

	